/*.page {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}*/

#header {
    height: 6vw;
    width: 100%;
    background-color: #2a8aff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}